* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEE45B;
}


#cabecalho{
    background: #241F21 ;
    padding:  0;
}



#cabecalho nav ul{
    display: flex;
    flex-direction: row; /* Transforma a lista em um display flex e coloca em linha horizontal*/ 
    justify-content: space-around;
    list-style: none;
}

#cabecalho nav li{
    flex-grow: 1;
    text-align: center;
}

#cabecalho  nav a{
    
    color: #4197BA; /* Da cor aos links de Nav  */
   
    padding: 20px 40px;
    padding-bottom: 20px;
    padding-inline: 150px;
    display: block;
    text-decoration: none;

}   

#cabecalho nav a:hover{
    color: #FEE45B;
    background-color: #4197BA;
    transition:0.5s
}